################################################################################
# Ignore Most Things
################################################################################

/*
/.**

# don't ignore this gitignore
!.gitignore

# and don't ignore the config folder (but keep ignoring everything in it)
!/.config/
/.config/*

################################################################################
# Terminal and Shell
################################################################################

!/.config/ghostty
!/.config/ghostty/*
!/.config/starship.toml
!/.zshrc

################################################################################
# Vim and Tmux
################################################################################

!/.config/nvim
!/.config/nvim/**

!.tmux.conf

################################################################################
# Window Management
################################################################################

!/.config/yabai
!/.config/yabai/**
!/.config/skhd
!/.config/skhd/**


################################################################################
# Git
################################################################################

!.gitconfig

