################################################################################
# Ignore Everything (except this gitignore)
################################################################################

/*
/.**

!.gitignore

################################################################################
# Terminal and Shell
################################################################################

!/.zshrc

################################################################################
# Vim and Tmux
################################################################################

!/.config/nvim
!/.config/nvim/**

!.tmux.conf

################################################################################
# Git
################################################################################

!.gitconfig

